html {
  overflow: auto !important;
}

body {
  background: rgb(var(--v-theme-background));
  overflow: auto;
  margin-top: 56px;
  height: calc(100vh - 56px - 56px);
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 1rem;
  font-weight: normal; 
}

@font-face {
  font-family: Slabo;
  src: url(Slabo13px-Regular.ttf);
}




